/*se deben definir las directivas antes de usarlas, y keyframe es una directiva*/
@keyframes colores {
    0% { background-color: rgb(114, 223, 161) }
    25% { background-color: rgb(59, 204, 190) }
    50% { background-color: yellow}
    75% {background-color: rgb(61, 255, 255)  }
    100% { background-color: rgb(218, 4, 218) }
}

@keyframes movimiento {
    0% { 
        top: 8rem;
        left: 8rem;
    }
    5% {
        left: 18rem;
    }
    50% {
        top: 1rem;
        left: 2rem;
    }
    51% {
        top: 11rem;
        left: 22rem;
    }
    52% {
        top: 11rem;
        left: 0rem;
    }
    61% {
        top: 1rem;
        left: 22rem;
    }
    88% {
        top: 91rem;
        left: 72rem;
    }
    91% {
        top:0rem;
        left: 5rem;
    }
    100% {
        top: 8rem;
        left: 8rem;
    }
}

div.animado {
    position: absolute;
    top: 10rem;
    left: 10rem;
    width: 20%;
    height: 20vh;
    border: 2px solid black;
    animation-name: colores, movimiento;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

iframe {
    height: 450px;
    width: 700px;
    border: 3px dotted gold;
}