/*Estado anterior al cambio: el origen*/
/*La transicion se aplica al origen*/
h1 {
    color: cyan;
    font-size: 3rem;
    background: violet;
    border-radius: 20rem;
    min-height: 3rem;
    padding: 1rem;
    text-align: center;
    /*se pueden resumir todas en transition:*/
    -webkit-transition-property: color, background;
    transition-property: color, background;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

h1:hover {
    color: darkorchid;
    min-height: 3rem;
    background: cyan;
    border-radius: 20rem;
}

main div {
    height: 3rem;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
}

main div:nth-of-type(1):hover~div{
    background-color: royalblue;
    transform: scale(1.015, 1.015);
    transition: all 0.1s linear;
}